<h1>Stream File Upload</h1>

<hr />

<div>
    <form asp-route="StreamFileUpload/Index"  enctype="multipart/form-data" method="POST">
        <input type="file" name="file" /> 
        <button type="submit">Upload File</button>
    </form>
</div>

@if(ViewBag.Message != null)
{
    <div class="alert" style="margin-top:20px">
        @ViewBag.Message
    </div>
}