# Misc
.DS_Store

# Dependencies
node_modules/

*.zip
*.tgz
license.config.json
license-header.txt

# Build Outputs
dist/

# VS Code IDE
.vscode/**/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# Local env files
.env
!.env.example

# this is for jetbrain IDEs
.idea/
/puter

# Local Netlify folder
.netlify
src/emulator/release/