[submodule "submodules/v86"]
	path = submodules/v86
	url = git@github.com:HeyPuter/v86.git
[submodule "submodules/twisp"]
	path = submodules/twisp
	url = git@github.com:MercuryWorkshop/twisp.git
[submodule "submodules/epoxy-tls"]
	path = submodules/epoxy-tls
	url = git@github.com:MercuryWorkshop/epoxy-tls.git
[submodule "submodules/wiki"]
	path = submodules/wiki
	url = https://github.com/HeyPuter/puter.wiki.git
