.DS_Store
node_modules/
*.zip
*.tgz
license.config.json
license-header.txt
dist/

# VS Code
.vscode/**/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

.env
# this is for jetbrain IDEs
.idea/
/puter
