html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--dashboard-text);
    background: var(--dashboard-background);
}

#app-browser {
    display: block;
    width: 100%;
    height: 100%;
}

#app-browser .dashboard-section-apps {
    width: 100%;
}

#app-browser .myapps-group-name[readonly] {
    cursor: default;
}
